/* CSS file placeholder. */

html {
    width: 100%;
    height: 100%;
}
body {
    position: absolute;
    width: 100%;
    height: 100%;
}
.panel-heading {
    line-height: 34px;
}

#basic_inject_time_matrix {
    min-width: 1200px;
}
.tooltip-inner {
    max-height: 80px;
    /* If max-width does not work, try using width instead */
    height: 80px;
    font-size: 30px;
    font-weight: normal;
    font-family: 'Arial';
    text-align: center;
    background-color: white;
    color: black;
    display: table-cell;
    vertical-align: middle;
}

.panel {
    min-width: 1200px;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: 'Arial Unicode MS';
    font-size: 16px;
}
.connection-section {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    background: #fff;
}
.basicinfo-section {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    background: #fff;
}
.engineinfo-section {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    background: #fff;
}
.basicsettings-section {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    background: #fff;
}
.enginesettings-section {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    background: #fff;
}
