/* CSS file placeholder. */

html {
    width: 100%;
    height: 100%;
}

body {
    position:absolute;
    width: 100%;
    height: 100%;
}

.axis path,
.axis line {
   fill: none;
   stroke: black;
   shape-rendering: crispEdges;
}

.axis text {
   font-family: 'Arial Unicode MS';
   font-size: 16px;
}

.connection-section {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    background: #fff;
}

.basicinfo-section {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    background: #fff;
}

.engineinfo-section {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    background: #fff;
}

.basicsettings-section {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    background: #fff;
}

.enginesettings-section {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    background: #fff;
}


